@model RoomViewModel

@{
    ViewData["Title"] = "Selecteer zitplaats";
}

<form asp-action="SaveSelectedSeats" asp-controller="Seat" method="POST">
    <h1>SelectSeats</h1>
    <div class="container" style="width:800px">
        <div class="row movie-screen"></div>
        @foreach (var row in Model.AllSeats)
        {
            <div class="row">
                <div class="col-auto" style="width:15px; margin-left: -15px;">@row.Key</div>
                @foreach (var seat in row.Value)
                {

                    int seatnr = seat.Key.SeatNumber;
                    SeatStatus isOccupied = seat.Key.Status;
                    string dataStatus;
                    string seatId = string.Format("{0}-{1}", @seat.Key.RowLetter, @seatnr);

                    if (isOccupied == SeatStatus.Free)
                    {
                        dataStatus = "free";
                    }
                    else if (isOccupied == SeatStatus.Reserved)
                    {
                        dataStatus = "reserved";
                    }
                    else
                    {
                        dataStatus = "occupied";
                    }

                    if (isOccupied == SeatStatus.Free)
                    {
                        <div class="checkbox" style=@(seatnr == 6 || seatnr== 20 ? "margin-right:20px;" : "" )>
                            <input type="checkbox"
                                   name=@seatId
                                   value="Geselecteerd" id="@seatId"
                                   data-status=@(dataStatus) />
                            <label for="@seatId"></label>
                        </div>
                    }
                    else
                    {
                        <div class="checkbox" style=@(seatnr == 6 || seatnr== 20 ? "margin-right:20px;" : "" )>
                            <input type="checkbox"
                                   name=@seatId
                                   value="Geselecteerd" id="@seatId"
                                   data-status=@(dataStatus)
                                   disabled />
                            <label for="@seatId"></label>
                        </div>
                    }
                }

            </div>
        }
    </div>
    <input id="submitBtn" type="hidden" value="Verzenden" />
</form>



<script type="text/javascript">
        $(document).ready(function () {
            var $tickets = @Model.Checkout.GetTotalTickets();
            var $counter = 0;
            console.log("Tickets: " + $tickets + " => Geselecteerd: " + $counter);

            $(".checkbox > input").click(function(){
                $chk = $(this);

                console.log('Old status: ' + $chk.attr('data-status'));

                if($chk.attr('data-status') == "free") {
                    $chk.attr('data-status', 'selected');
                    $counter++;
                    console.log("Tickets: " + $tickets + " => Geselecteerd: " + $counter);
                } else {
                    $chk.attr('data-status', 'free');
                    $counter--;
                    console.log("Tickets: " + $tickets + " => Geselecteerd: " + $counter);
                }

                // If selected seats equals or exceeds amount of chosen tickets, disable all other free seats, or reverse.
                if($counter >= $tickets){
                    disableFreeSeats();
                    $('#submitBtn').attr('type', 'submit');
                } else {
                    ableFreeSeats();
                    $('#submitBtn').attr('type', 'hidden');
                }
            });
        });
</script>
