@model PaymentOverviewModel

@{
    ViewData["Title"] = "PaymentOverview";
}

<h1>Uw bestelling</h1>

<div>
    <h2>@Model.Checkout.Show.Movie.Title</h2>
    <h3>@Model.Checkout.Show.DateTime.ToString("dd-MMMM-yy HH:mm")</h3>
    <h4>@Model.Checkout.Show.Room.Name</h4>

    @foreach (var ticket in Model.Checkout.Tickets)
    {
    <div class="card">
        <p>@ticket.Seat</p>
        <p>@ticket.TicketCode</p>
        <p>@ticket.TicketPrice</p>
    </div>
    }


    <a href="@Model.Url" class="btn btn-primary">Betalen</a>
</div>
