@model ShowListViewModel

@{
    ViewData["Title"] = "AllShows";
}

<h1>Voorstellingen overzicht</h1>

<p>
    <a asp-action="CreateShow">Create New</a>
</p>
<div class="container">
    <div class="row">
        <div class="col-md-5">
            <nav>
                <ul class="pagination justify-content-center">
                    <li class="page-item @(@ViewBag.sortedBy == "movie" ? "active" : "")">
                        <a href="@Url.Action("Index", new { @showPage = Model.PagingInfo.CurrentPage , @sortedBy = "movie"})" class="page-link">Sorteer op film</a>
                    </li>
                    <li class="page-item @(@ViewBag.sortedBy == "date" ? "active" : "")">
                        <a href="@Url.Action("Index", new { @showPage = Model.PagingInfo.CurrentPage , @sortedBy = "date"})" class="page-link">Sorteer op tijd</a>
                    </li>
                    <li class="page-item @(@ViewBag.sortedBy == "room" ? "active" : "")">
                        <a href="@Url.Action("Index", new { @showPage = Model.PagingInfo.CurrentPage , @sortedBy = "room"})" class="page-link">Sorteer op zaal</a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="col">
            <form asp-controller="Show" asp-action="GetShowsByFilter" method="post">
                <div class="input-group mb-3">
                    <input type="text" name="filter" id="filter" class="form-control" placeholder="Zoeken" aria-label="" />
                    <div class="input-group-append">
                        <button type="submit" class="btn btn-outline-secondary">Zoeken</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div page-model="@Model.PagingInfo" page-action="Index"></div>


<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th></th>
            <th>Film</th>
            <th>Datum</th>
            <th>Tijd</th>
            <th>Zaal</th>
            <th>3D</th>
            <th>Tickets</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var show in Model.Shows)
        {
            <tr>
                <td>
                    <a href="@Url.Action("GetMovieForDetails", "Movie", new { id = show.Movie.Id })">
                        <img src="~/img/movie_pics/@(show.Movie.InternalId)_small.jpg" height="150" />
                    </a>

                </td>
                <td>
                    <a href="@Url.Action("GetMovieForDetails", "Movie", new { id = show.Movie.Id })">
                        <b>@show.Movie.Title</b>
                    </a>
                </td>
                <td>
                    @show.DateTime.ToString("dd MMMM yyyy")
                </td>
                <td>
                    @show.DateTime.ToString("HH:mm")
                </td>
                <td>
                    @show.Room.Name
                </td>
                <td>
                    @(show.ThreeDimensional ? "Ja" : "Nee")
                </td>
                <td>
                    @Html.ActionLink("Koop ticket", "Index", "Checkout", new { @showId = show.Id })
                </td>
            </tr>
        }
    </tbody>
</table>
<div page-model="@Model.PagingInfo" page-action="Index"></div>

@*<p>
    <a asp-action="CreateShow">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                Datum/tijd
            </th>
            <th>
                Titel
            </th>
            <th>
                Zaal
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Movie.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Room.Name)
                </td>
                <td>
                    @Html.ActionLink("Edit", "EditShow", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "DeleteShow", new { id = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>*@
